*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: none;
	transition: all 0.2s ease;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Libre Baskerville', serif;
	background-color: #fff;
	color: #444;
}

a {
	color: #666;
}
a:hover {
	color: #4EF;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: #333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
	text-decoration: none;
}	

h4 {
	line-height: 24px;
	font-size: 14px;
}

p {
	margin: 12px 0px;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.success,
.input-validation.success {
	color: #9F6;
}

.error,
.input-validation.error {
	color: #F66;
}

/*************************
 * F O R M S
 */

form {
	max-width: 432px;
	padding: 24px;
	margin: 0px auto;
}

form h5 {
	font-size: 12px;
	margin: 0px 0px 36px;
	text-align: center;
}

label {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	color: #999;
}

label .input-label {
	float: left;
}

label .input-validation {
	float: right;
	letter-spacing: 0.2em;
	color: #ddd;
}

input,
textarea,
button {
	display: block;
}

input,
textarea {
	width: 100%;
	clear: both;
	font-family: 'Libre Baskerville', serif;
}

input {
	font-size: 16px;
	line-height: 48px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 23px;
}

input:hover {
	border-color: #999;
}

input:focus {
	border-color: #4EF;
}

textarea {
	font-size: 14px;
	line-height: 24px;
	padding: 12px 0;
}

.btn,
button {
	cursor: pointer;
	width: 100%;
	text-align: center;
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	line-height: 46px;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.btn:hover,
button:hover {
	background-color: #4EF;
	border-color: #4EF;
	color: #fff;
}
.btn-delete:hover {
	background-color: #f66;
	border-color: #f66;
	color: #fff;
}

button:disabled {
	cursor: not-allowed;
	color: #ddd;
	border-color: #ddd;
	background-color: #fff;
}

#site-footer {
	text-align: center;
	padding: 48px 24px;
}

#site-footer h4 {
	margin-bottom: 24px;
	padding-left: 0.4em;
}

#site-footer p {
	font-style: italic;
	color: #999;
	font-size: 10px;
	margin: 0;
}
#site-footer h5 {
	font-size: 10px;
	margin-top: 24px;
	padding-left: 0.4em;
}
