#chat-box {
	height: 0px;
	overflow: hidden;
	border-bottom: 0px solid #f66;
	position: relative;
}
#chat-box.open {
	height: 479px;
	border-bottom-width: 1px;
}

#chat-connecting,
#chat-area {
	overflow: hidden;
	position: absolute;
		top: 0px;
		left: 0;
	width: 100%;
	height: 479px;
}

#chat-connecting {
	background-color: #f66;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

#chat-connecting-message {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	text-align: center;
	margin: 216px auto;
}
#chat-connecting-message h5 {
	line-height: 24px;
	font-size: 14px;
	color: #fff;
}

#chat-area {
	top: 479px;
	background-color: #fff;
	transition-delay: 0.4s;
}
#chat-box.open #chat-area {
	transition-delay: 0s;
}
#chat-area.visible {
	top: 0px;
}

#chat-messages {
	position: absolute;
		top: 0;
		bottom: 48px;
		left: 0;
		right: 24px;
	padding: 24px 24px 0;
	overflow: auto;
}
.chat-message {
	margin-bottom: 12px;
}
.chat-message-text p {
	margin: 0;
}
.chat-message-date {
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ccc;
}
.chat-message-sender {
	font-size: 10px;
	letter-spacing: 0.2em;
}
#chat-post {
	position: absolute;
		top: 432px;
		bottom: 0px;
		left: 0;
		right: 24px;
	max-width: none;
	height: auto;
	padding: 0 24px 0 48px;
	border-top: 1px solid #f66;
}
#chat-messages.scrolled + #chat-post {
	box-shadow: 0px 0px 48px 24px #fff;
}
#chat-post button {
	position: absolute;
		top: 0;
		left: 0;
	width: 36px;
	height: 48px;
	padding: 0;
	letter-spacing: 0;
	line-height: 36px;
	color: #fff;
	background-color: #f66;
	border: none;
	border-right: 1px solid #f66;
}
#chat-post button:hover {
	color: #f66;
	background-color: #fff;
}
#chat-post input {
	font-size: 14px;
}
#chat-sessions {
	position: absolute;
		top: 0px;
		right: -272px;
	width: 200px;
	height: 432px;
	padding: 48px;
	border-left: 1px solid #f66;
	background-color: #fff;
	@include font-label;
	overflow: auto;
}
#chat-sessions h5 {
	@include font-label;
}
#chat-sessions-preview {
	position: absolute;
		top: 228px;
		left: -68px;
	text-align: center;
	width: 160px;
	height: 24px;
	background-color: #f66;
	color: #fff;
	transform: rotate(-90deg);
}
#chat-sessions.open {
	right: -24px;
}

@media (min-width: 528px) {
	#chat-messages {
		padding: 24px 48px 0;
	}
	#chat-post {
		padding: 0 48px;
	}
	#chat-sessions.open {
		right: 0px;
	}
}

@media (min-width: 832px) {
	#chat-messages,
    #chat-post {
		right: 296px;	
	}
	#chat-sessions,
	#chat-sessions.open {
		right: 0px;
	}
	#chat-sessions-preview {
		top: 16px;
		left: 0px;
		transform: none;
	}
}


#chat-toggle-button {
	width: 0px;
	height: 0px;
	position: relative;
		top: 0px;
		left: 50%;
	overflow: visible;
}
@media (min-width: 600px) {
	#chat-toggle-button {
		top: 24px;
	}
}
#chat-toggle-button a {
	display: block;
	height: 22px;
	width: 88px;
	padding-left: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	margin-left: -48px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 6px;
}
#chat-toggle-button a:hover {
	color: #f66;
}

#chat-toggle-button.open {
	top: -12px;
}
#chat-toggle-button.open a {
	border-color: #f66;
}
