#site-header {
	padding: 24px 0px;
	height: 72px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

#site-header a {
	color: #333;
	text-decoration: none;
}

#site-header a:hover {
	color: #4EF;
}

#logo {
	padding-left: 24px;
	float: left;
	text-align: center;
	letter-spacing: 12px;
}
#logo a:hover {
	color: #f66;
}

#logo-wtf {
	line-height: 10px;
	margin: 6px 12px 6px 0px;
	border: 1px solid #333;
	font-size: 8px;
	letter-spacing: 0;
	background-color: #fff;
	color: #333;
	transform: skew(0deg, -15deg);
}
#logo a:hover #logo-wtf {
	border-color: #f66;
	background-color: #f66;
	color: #fff;
}

#user-info,
#user-login {
	padding-right: 24px;
	float: right;
	text-align: right;
}

#user-login {
	padding-top: 24px;
}

#user-info a,
#user-login a {
	display: block;
}


@media (min-width: 528px) {

	#logo {
		padding-left: 48px;
	}

	#user-info,
	#user-login {
		padding-right: 48px;
	}

}
	
#sub-nav {
	text-align: center;
	max-width: $width-submissions;
	margin: 0 auto 24px;
	border: 0 solid $color-text;
	border-width: 1px 0;
	padding: 23px 0px;
	font-size: 10px;
}

#sub-nav a {
	display: inline-block;
	margin: 0px 12px;
}

#sub-nav a.active {
	color: #f66;
}
