.comment {
	padding: 12px 24px;
	overflow: hidden;
}
.comment h5 {
	font-size: 10px;
}
.comment-date {
	float: right;
	color: #ddd;
	font-size: 10px;
}
.comment-options {
	font-style: italic;
	text-transform: lowercase;
	color: #999;
	font-size: 10px;
}
