<div id="submission-images">
	<img ng-repeat="upload in submission.uploads"
		ng-src="uploads/{{upload.path}}">
</div>

<div id="submission-info">
	<h4 ng-bind="submission.title">
	</h4>
	<h5>
		<a ng-href="/users/{{submission._user.username}}"
			ng-bind="submission._user.username">
		</a>
	</h5>
	<div id="submission-info-options">
		<div id="submission-info-date"
			ng-bind="submission.createdAt | date : 'MMM d, y h:mma'">
		</div>
		<div id="submission-info-controls"
			ng-if="currentUser.role >= 2 || currentUser._id === submission._user._id">
			<a ng-href="/submissions/{{submission._id}}/edit">edit</a>
			&nbsp; &nbsp;
			<a href ng-click="delete()">delete</a>
		</div>
	</div>
	<div rich-text="submission.description"></div>
</div>

<div id="submission-comments">
	<h4>Comments</h4>
	<h5 id="no-comments"
		 ng-if="submission.comments.length < 1">
		No comments yet
	</h5>
	<div class="submission-comment"
		ng-repeat="comment in submission.comments">
		<h5 class="submission-comment-date"
			ng-bind="comment.createdAt | date : 'dd.mm.yy h:mma'">
		</h5>
		<h5>
			<a ng-href="/users/{{comment._user.username}}"
				ng-bind="comment._user.username">
			</a>
		</h5>
		<div rich-text="comment.text" ng-if="editingId !== comment._id"></div>
		<div class="submission-comment-edit-form" ng-if="editingId === comment._id">
			<textarea ng-model="comment.editText" rows="3"></textarea>
			<button ng-click="editComment(comment)" ng-disabled="isEditing || !comment.editText" ng-bind="isEditing ? 'saving' : 'save'"></button>
		</div>
		<div class="submission-comment-options" ng-if="currentUser.role >= 2 || currentUser._id === comment._user._id">
			<a href ng-click="editCommentFocus(comment)" ng-if="editingId !== comment._id">edit</a>
			<a href ng-click="editCommentFocus(null)" ng-if="editingId === comment._id">cancel</a>
			&nbsp; &nbsp;
			<a href ng-click="deleteComment(comment)">delete</a>
		</div>
	</div>
</div>
<form id="submission-comment-form"
	name="commentForm"
	ng-submit="comment()">
	<label>
		<div class="input-label">Leave a comment</div>
		<textarea
			ng-model="commentText"
			rows="3"
			placeholder="your art fuckin sucks lol"></textarea>
	</label>
	<button type="submit"
		 ng-disabled="isCommenting || !commentText || !currentUser"
		 ng-bind="currentUser ? (isCommenting ? 'posting' : 'post') : 'log in to comment'">
	</button>
</form>
