#submission-uploads {
	padding: 0px 24px;
	margin: 0 auto;
	max-width: 432px;
}

#submission-upload-errors {
	text-align: center;
	color: #f66;
	line-height: 24px;
	padding: 23px 0px;
	margin-bottom: 24px;
	border: 0px solid #f66;
	border-width: 1px 0;
}

#submission-uploads .upload-selector {
	max-width: 432px;
	margin: 0 auto;
}

@media (min-width: 528px) {
	#submission-uploads {
		padding: 0px 48px;
	}
}

#submission-edit-form button {
	margin-top: 24px;	
}
