#submission-uploads {
	padding: 0px 24px;
	margin: 0 auto;
	max-width: $width-forms;
}

#submission-upload-errors {
	text-align: center;
	color: $color-secondary;
	line-height: 24px;
	padding: 23px 0px;
	margin-bottom: 24px;
	border: 0 solid $color-secondary;
	border-width: 1px 0;
}

#submission-uploads .upload-selector {
	max-width: $width-forms;
	margin: 0 auto;
}

@media (min-width: 528px) {
	#submission-uploads {
		padding: 0px 48px;
	}
}

#submission-edit-form button,
#submission-edit-form .btn {
	margin-top: 24px;	
}
