#submission-images {
	padding: 24px;
	max-width: 640px;
	margin: 0 auto;
}

#submission-images img {
	margin-bottom: 24px;
}

#submission-info {
	padding: 24px;
	max-width: 432px;
	margin: 23px auto 24px;
	border-top: 1px solid #000;
	overflow: hidden;
}

#submission-info h4 {
	margin-bottom: 12px;
}

#submission-info-options {
	font-style: italic;
	text-align: center;
	text-transform: lowercase;
	color: #999;
	font-size: 10px;
	margin-bottom: 24px;

	a {
		display: inline-block;
		margin: 0px 12px;
	}
}

#submission-info h4,
#submission-info h5,
#submission-info-date {
	text-align: center;
}

#submission-hearts {
	text-align: center;
}
#submission-hearts .heart {
	font-size: 1.6em;
}
#submission-hearts-names {
	@include font-secondary;
	@include font-small;
}

#submission-comments {
	max-width: 480px;
	margin: 0 auto;
}

#submission-comments h4 {
	@include font-section-header;
	margin-bottom: 12px;
}

#no-comments {
	padding: 96px 24px;
	text-align: center;
}

#submission-comment-form button {
	margin-top: 12px;
}
