.upload {
	position: relative;
	margin: 12px 0;
	min-height: 240px;
}
.upload-overlay {
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	width: auto;
	height: auto;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
}
.upload-overlay:hover {
	opacity: 1;
}
.upload-overlay.progress {
	opacity: 1;
}
.upload-controls {
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	z-index: 1;
	height: 168px;
	max-width: 360px;
	padding: 24px;
	background-color: #fff;
	width: auto;
	margin: auto;
}
.upload-controls button {
	margin-top: 24px;
}
.upload-progress {
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	margin: auto;
	z-index: 1;
	height: 120px;
	width: 120px;
	background-color: #fff;
	border-radius: 60px;
}
.upload-radial {
	position: absolute;
	height: 116px;
	width: 58px;
	background-color: #ddd;
	border-radius: 0px 58px 58px 0px;
	overflow: hidden;
}
.upload-radial-right {
	top: 2px;
	left: 60px;
	transform: rotate(0deg);
}
.upload-radial-left {
	top: 2px;
	left: 2px;
	transform: rotate(180deg);
}
.upload-radial-fill {
	height: 116px;
	width: 58px;
	background-color: #4ef;
	transform-origin: 0% 50%;
	transform: rotate(180deg);
	transition: none;
}
.upload-progress-text {
	position: absolute;
		top: 4px;
		bottom: 4px;
		left: 4px;
		right: 4px;
	height: 112px;
	width: 112px;
	line-height: 112px;
	text-align: center;
	background-color: #fff;
	border-radius: 56px;
}

.upload-selector input[type="file"] {
	display: none;
}
.upload-selector h5,
.upload-controls.queued h5 {
	text-align: center;
	position: relative;
	padding: 36px 0;
	margin: 0;
	color: #000;
}
.upload-selector h5 {
	cursor: pointer;
	border: 2px dashed #000;
	padding: 34px 0;
}
.upload-selector h5:before {
	content: '+';
	display: block;
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	z-index: -1;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	letter-spacing: 0;
	margin: auto;
	border: 1px solid #ccc;
	color: #ccc;
	border-radius: 50%;
}

.upload-selector h5:hover {
	border-color: #f66;
	color: #f66;
}
.upload-selector h5:hover:before {
	border-color: #4ef;
	color: #4ef;
}
.upload-controls.queued h5:before {
	content: '...';	
	display: block;
	position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	margin: auto;
	text-align: center;
	margin-top: 6px;
	color: #f66;
}
