<div id="chat-box" ng-class="{'open': open}">
	<div id="chat-connecting">
		<div id="chat-connecting-message">
			<h5>Connecting</h5>
			...
		</div>
	</div>
	<div id="chat-area" ng-class="{'visible': chat}">
		<div id="chat-messages"
			ng-if="messageChunks"
			ng-click="setSessionsOpen(false)"
			scroll-bottom="messageChunks">

			<div class="chat-message"
				ng-repeat="messageChunk in messageChunks">
				<div class="chat-message-date" ng-bind="messageChunk[0].sentAt | date : 'mediumTime'"></div>
				<div class="chat-message-sender" ng-bind="messageChunk[0].session.username"></div>
				<div class="chat-message-text" ng-repeat="message in messageChunk" ng-bind="message.message"></div>
			</div>

		</div>
		<form id="chat-post"
			name="chatMessageForm"
			ng-submit="sendMessage(chatMessageForm)"
			ng-click="setSessionsOpen(false)">
			<button type="submit"> &gt; </button>
			<input type="text" placeholder="Send message..." ng-model="chatMessageForm.message">
		</form>
		<div id="chat-sessions"
			ng-if="chat.sessions"
			ng-click="setSessionsOpen(true)"
			ng-class="{'open': sessionsOpen}">
			<div id="chat-sessions-preview"
				ng-bind="chat.sessions.length + (chat.sessions.length > 1 ? ' users' : ' user') + ' online'">
			</div>
			<div class="chat-session"
				ng-repeat="session in chat.sessions"
				ng-bind="session.username">
			</div>
		</div>
		<!-- do an ng-repeat here -->
	</div>
</div>
<div id="chat-toggle-button" ng-class="{'open': open}">
	<a href ng-click="toggleOpen()" ng-bind="open ? '&times; &times; &times;' : 'chat'"></a>
</div>
