<!--
<h1>This is a partial</h1>
The home page will eventually go here I guess

<p>Do you feel in charge?</p>

<p>No, no, no. A vigilante is just a man lost in scramble for his own gratification. He can be destroyed or locked up. But if you make yourself more than just a man, if you devote yourself to an idel and if they can't stop you then you become something else entirely. Legend, Mr Wayne.</p>

<p>But I know the rage that drives you. That impossible anger strangIing the grief until the memory of your loved one is just poison in your veins. And one day, you catch yourself wishing the person you loved had never existed so you'd be spared your pain.</p>

<p>Pretty soon we will be chasing down over due library books.</p>

<p>Because some men aren't looking for anything logical, like money. They can't be bought, bullied, reasoned or negotiated with. Some men just wanna watch the world burn.</p>

-->
