<div id="login-forms">

	<form id="login-form">

		<h5>
			Login as an existing user
		</h5>

		<label>
			username:
			<input type="text">
		</labeL>

		<label>
			password:
			<input type="password">
		</label>

		<button type="submit">
			Log in
		</button>
	
	</form>

	<form id="signup-form">
	
		<h5>
			Create a new account
		</h5>

		<label>
			username:
			<input type="text">
		</label>

		<label>
			password:
			<input type="password">
		</label>

		<label>
			confirm password:
			<input type="password">
		</label>

		<button type="submit">
			Sign up
		</button>
	
	</form>

</div>
