<div id="login-forms"
	 class="show-{{activeForm}}">
	<form id="login-form"
		name="form"
		ng-submit="login(form)">
		<h5 ng-click="changeForm('login')">
			Login as an existing user
		</h5>

		<label>
			<div class="input-label">
				username
			</div>
			<div class="input-validation">
				is taken	
			</div>
			<input type="text">
		</labeL>

		<label>
			<div class="input-label">
				password
			</div>
			<div class="input-validation">
				is incorrect
			</div>
			<input type="password">
		</label>

		<button type="submit">
			Log in
		</button>
	
	</form>

	<form id="signup-form">
	
		<h5 ng-click="changeForm('signup')">
			Create a new account
		</h5>

		<label>
			username:
			<input type="text">
		</label>

		<label>
			password:
			<input type="password">
		</label>

		<label>
			confirm password:
			<input type="password">
		</label>

		<button type="submit">
			Sign up
		</button>
	
	</form>

</div>
